html{
    margin-top: 0%;
    padding: 0%;
    size: 1000px;
}


.dropdown-toggle::after{
    display: none
}

.dropdown-toggle img{
    cursor: pointer;
}

header{
    background-image: url("/static/assets/fondo2.gif") ;   
    background-size: cover;
    opacity:0.5;
    margin-top: -30px;
      
}
.dropdown-menu{
    background-color: #FcDEBE;
    color:#272D2E;  
    font-size: large;
    font-weight: bolder;
    font-size: 200%;

}
.navbar{
    font-family: 'Harry P';
}
.carousel{
    margin-bottom: 60px;
}
.carousel-item{
    text-align: center;
    margin-bottom: 50px;
}
body{ 
    size: 1000px;
    background-repeat: no-repeat;
    background-image: url("https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-harry-potter_2560x1440_11461.jpg") ;
    background-size: cover;
    background-position: center ;
    backdrop-filter:blur(10px);
    margin-top:0;
    padding: 0%;

}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.wraps{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
   
}
.accordion{
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}
.accordion-item{
    width: 500px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: url("/static/assets/fondoAccordionItem.jpg") ;
    background-size: 550px;
    background-position: center ;
}
.accordion-header{
    text-align: justify, center;
    color: #272D2E;
    font-family: 'Qilla', sans-serif;
    margin:30px;
    
}
.card-link{
    font-size: 20px;
}

.buttonAccordion {  
    background-color: #272D2E;
    width: 290px;
    height: 80px;
    margin-top: -35px;
    font-family: 'Harry P', sans-serif;
    color:#FcDEBE;
    font-size: 30px;
}


footer{
    color: #FcDEBE;
    background-color:#272D2E;
    font-family: "Harry P";
    position: bottom;
    text-align:  center;
    margin-top: 40px;
    margin-bottom: -15px;
    height: 50px;  
    font-size: 35px;  
}


@import url('https://fonts.cdnfonts.com/css/harry-p');

