html{
    margin-top: 0%;
    padding: 0%;
    size: 1000px;
}


.dropdown-toggle::after{
    display: none
}

.dropdown-toggle img{
    cursor: pointer;
}

header{
    background-color:#272D2E; 
    background-image: url("/static/assets/fondo2.gif") ;   
    background-size: cover;
    opacity:0.5;
    margin-top: -30px;
    
    
}
.dropdown-menu{
    background-color: #FcDEBE;
    color:#272D2E;
    font-family: "HARRYP_";
     
}
.carousel{
    margin-bottom: 60px;
}
.carousel-item{
    text-align: center;
    margin-bottom: 50px;
}
body{ 
    size: 1000px;
    background-repeat: no-repeat;
    background-image: url("https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-harry-potter_2560x1440_11461.jpg") ;
    background-size: cover;
    background-position: center ;
    backdrop-filter:blur(10px);
    margin-top:0;
    padding: 0%;

}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.wraps{
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
   
}
.accordion{
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}
.accordion-item{
    width: 500px;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url("/static/assets/fondoAccordionItem.jpg") ;
    background-size: 550px;
    background-position: center ;
}
.accordion-header{
    text-align: justify, center;
    color: #272D2E;
    font-size: 15px;
    margin:20px;
    
}
.buttonAccordion{  
    background-color: #272D2E;
    width: 250px;
    height: 70px;
    margin-top: -25px;

}

footer{
    color: #FcDEBE;
    background-color:#272D2E;
    font-family: "HARRY P";
    position: bottom;
    text-align:  center;
    margin-top: 40px;
    margin-bottom: -15px;
    height: 50px;  
    font-size: 30px;  
}

@font-face{
    font-family:"HARRYP__ ";
    src:url("file:///C:/Users/Natalia/Desktop/DAW/BIGDATA/PROYECTO/fonts/HARRYP__.TTF") format('truetype');
    font-style: normal;
    font-weight: normal;
}
