body{ 
    background-repeat: no-repeat;
    background-image: url("https://pm1.aminoapps.com/6974/29505fdc8d53d7d0eda2c720a47f713cd4b62bfar1-1024-576v2_hq.jpg") ;
    background-size:cover;
    background-position: center top ;
    color: white;
    margin: 0px;
    padding: 150px;
    backdrop-filter:blur(5px);
    font-family: 'Harry P', sans-serif;   
    font-size: 30px;
}

@import url('https://fonts.cdnfonts.com/css/harry-p');

h1 {
    padding: 20px;
}
footer {
    text-align: center;
    align-content: center;
    margin-top: 20px; 
    font-size: 20px; 
    padding: 50px;
}
