body{ 
    background-repeat: no-repeat;
    background-image: url("https://www.xtrafondos.com/wallpapers/resoluciones/23/hogwarts-harry-potter_2560x1440_11461.jpg") ;
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
}
main{
    text-align: center;
    color: white;
}
