<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="file:///C:/Users/Natalia/Desktop/DAW/BIGDATA/PROYECTO/static/registrarUsuarioTrivial.css">
</head>
<body class="background-container">
    <header>
        <nav class="navbar navbar-expand-lg" >
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle subtitle"   data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="file:///C:/Users/Natalia/Desktop/DAW/BIGDATA/PROYECTO/assets/snitch.gif" height="90px">  
                            </a>
                            <ul class="dropdown-menu ">
                                <li>
                                    <a class="dropdown-item articles" href="{{ url_for('trivialHP') }}">Trivial Harry Potter</a>
                                    <a class="dropdown-item articles" href="{{ url_for('testCasas') }}">Descubre a qué casa perteneces</a>
                                    <a class="dropdown-item articles" href="{{ url_for('estudiantesCasas') }}">Nuestros estudiantes</a>  
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p ><img  src="file:///C:/Users/Natalia/Desktop/DAW/BIGDATA/PROYECTO/assets/logo.png" height="150px" width="150px" alt="First slide"></p>
              </div>             
            </div>
          </div>
    </header>
    <main>
        
        <div class="pregunta">
            <p class="pregunta"><span id="pregunta">{{preguntaHtml}}</span></p>
        </div>
        <form action="/jugarTrivialHP/{{ usuario}}" method="POST">
            <input type="hidden" name="pregunta" value="{{ preguntaHtml }}">
            <input type="radio" name="respuesta" value="{{respuesta1Html}}"/>{{respuesta1Html}}<br>
            <input type="radio" name="respuesta" value="{{respuesta2Html}}"/>{{respuesta2Html}}<br>
            <input type="radio" name="respuesta" value="{{respuesta3Html}}"/>{{respuesta3Html}}<br>
            <input type="radio" name="respuesta" value="{{respuesta4Html}}"/>{{respuesta4Html}}<br>
            <input type="hidden" name="contador_preguntas" value="{{ contador_preguntas }}">
            <input type="submit" value="Enviar">
        </form>
        
       
    </main>
    <footer>
        <p><b>Natalia's &copy;</b></p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>